**/.idea
**/*.egg-info
*.swp
*.pyc
*.bak
*.log
*.idea
**/node_modules
**/data
**/debug
**/prod
*python-version
.project
.pydevproject
**/dist
**/build
*.spec
cython/**
.DS_Store
*.DS_Store*
.cache
.coverage
.~*
~$*

npm-debug.log
dump.rdb
**/.vscode
public/*
**/coverage
**/.nyc_output
*.bkp
*.orig
.hg
.hgignore
